ul{
  padding-left: 0px;
  display: block;
}
li{
  display: inline-block;
}

ol{
  padding-left: 0px;
}


.nav-item .nav-link.active {
  color: #fff;
  border-bottom: solid 2px black; 
}

   .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

.col-md-3, .col-sm-12{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

  @media (min-width: 768px) {
    .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
 }
